@model IEnumerable<AppWebCore31.Models.PersonaModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-target="#myModal2">
        Ejecute
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@ViewData["Dato"] = Model;


<script>
    function llamarVistaParcial() {
            var modelo = @Model;
            var laURLDeLaVista = '@Url.Action("DetallesPar3", "Home", Model)';
            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                url: laURLDeLaVista,
                data: modelo,
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }

        function llamarVistaParcial2() {
            var laURLDeLaVista = '@Url.Action("DetallesPar", "Home", new { Area = "0" })';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }

    //$(document).ready(function () {
    //    $(#btnParcial).click(function () {
    //        $(#myParcial).load("Detalles");
    //    });
    //});
</script>
