@model IEnumerable<WSGenograma.IntegrantesModel>


<div>
    <button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-toggle="modal" data-target="#myModal">
        @*<button id="btnEjec" type="button" class="btn btn-primary">*@
        Put
    </button>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nommedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fnacim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ffallec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudadnac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nacionalidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Padre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Madre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esposo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esposa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nommedio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fnacim)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ffallec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ciudadnac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nacionalidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Padre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Madre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esposo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esposa)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    function llamarVistaParcial() {
        const http = new XMLHttpRequest();
        const url = '@Url.Action("DetalleDatos", "Home", Model)';

        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("destino").innerHTML = this.responseText;
            }
        }
        http.open("POST", url);
        http.send();
    }

        @*function llamarVistaParcial() {
            var url = '@Url.Action("DetalleDatos", "Home", Model)';
            var data = @Model;
            //var data = @Model;
            $.post(url, data).done(
                function (data) {
                    $("#destino").html(data);
                }
            );


        }*@

    @*$(function () {
        var url = '@Url.Action("DetalleDatos", "Home")';
                var dato = $("#txtInput").va();
                var data = "";
        $("#btnEjec").click(function () {
            $.post(url, data).done(
                function (data) {
                    $("#destino").html(data);
                }
            );
        });
    });*@





    @*function llamadaAjaxEsta() {


            $(function () {
                var url = '@Url.Action("DetalleDatos", "Home")';
                var dato = $("#txtInput").va();
                var data = "";
                $.post(url, data).done(function (data) {
                    $("#destino").html(data);
                });

            })

    });*@
</script>