@model List<WSGenograma.IntegrantesModel>

@{
    ViewData["Title"] = "Home Page";
    string Mensaje = "e";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



    @foreach (var item in Model)
    {
        <div>@item.Apellido</div>
    }


    @*<div>
            @Html.Partial("ParcialVista", Model)
        </div>
        <div>
            @{
                Html.RenderPartial("ParcialVista", Model);
            }
        </div>*@


    @*<div>
            @Html.Partial("Detalles")
        </div>
        <div>
            @{
                Html.RenderPartial("Detalles");
            }
        </div>*@


    <div id="myParcial">

    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-toggle="modal" data-target="#myModal">
            La llamada ganadora a la vista parcial
        </button>
    </div>

    <div>
        <button type="button" class="btn btn-primary" onclick="llamarVistaParcial();" data-target="#myModal2">
            La llamada ganadora a la vista parcial sobre esta pagina
        </button>
    </div>




    <!-- Modal -->
    <!--<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">-->
            <!-- Modal content-->
            <!--<div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div id="resultado"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>-->

    <div id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div >
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    
                </div>
                <div >
                    <div id="resultado"></div>
                </div>
                <div >
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


</div>

@functions{
    public string GetSomeString()
    {
        <p>El parrafo</p>
        return "Hola Marcelo";
    }
}


@{
    switch ((string)ViewBag.Details)
    {

        case "Profile":
            {
                @Html.Partial("_Profile"); break;
            }

    }
}

<script>
        function llamarVistaParcial() {
            var laURLDeLaVista = '@Url.Action("Detalles", "Home", new { Area = Mensaje })';
            $.ajax({
                cache: false,
                async: true,
                type: "GET",
                url: laURLDeLaVista,
                data: {},
                success: function (response) {
                    $('#resultado').html('');
                    $('#resultado').html(response);
                }
            });
        }

    //$(document).ready(function () {
    //    $(#btnParcial).click(function () {
    //        $(#myParcial).load("Detalles");
    //    });
    //});
</script>
